<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-theme.css') }}">
	<script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
	<script src="{{ url_for('static',filename='js/boostrap.js') }}"></script>
</head>
<body>

	{% with messages =get_flashed_messages() %}
		{% if messages %}
			<div class="alert alert-success">
			    <ul>
			    	{% for message in messages %}
			    		<li> {{message}} </li>
			    	{% endfor %}
			    </ul>
			    </div>
		{% endif %}
	{% endwith %}

	{% block content %}
	{% endblock %}


	<footer>
		<div class="container">
			<div class="row">
				<p class="copyright text-muted">&copy; Curso Flasck 2017</p>
			</div>
		</div>
	</footer>

	<script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
	<script src="{{ url_for('static',filename='js/boostrap.js') }}"></script>
	<script src="{{ url_for('static',filename='js/functions.js') }}"></script>
</body>
</html>